.not-found{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.not-found h1{
    font-size: 90px;
}

.not-found a{ 
    text-decoration: none;
}